ETHEREUM_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/YOUR_KEY
ETHEREUM_WS_URL=wss://eth-mainnet.g.alchemy.com/v2/YOUR_KEY
ETHEREUM_RPC_URL_FALLBACK=
CACHE_MAX_ENTRIES=5000
RPC_MAX_CONCURRENT=10
RPC_REQUESTS_PER_SECOND=25
